<!DOCTYPE html>
<html>
<head>
  <title>Quiz1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-6">
      <div class="square">
        <br />
        This is my 
        <br />
        quiz 1 app!
        <br />
      </div>
    </div>
  </header>
  <h1>
    <br />
    <br />
    <br />
    <br />
    This is the body of my application.  
  </h1>
<%= yield %>

</body>
</html>
